<% include partials/header %>

<% var abc = artists %>

<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>

<h1 class="text-center">Create a new song</h1>

<form class="text-center" action="/song" method="POST" id="songForm">
  <div class="form-group myDiv">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="image" placeholder="Image URL">
    <input type="text" name="content" placeholder="Embed">
    <input type="text" name="description" placeholder="description">
    <input type="text" name="category" placeholder="category">

    <select name="artist[]" class="selectMenu">
    	<% artists.reverse().forEach(function(artist){ %>
        	<option value="<%= artist._id %>"><%= artist.name%></option>
        <% }); %>	
    </select>
    <button type="button" onclick="tagArtist()">Tag Artist</button>

  </div>
  <button onclick="test()">Submit</button>
  <a onclick="test()" href="#">TESTING</a>
</form>

<script type="text/javascript">

  var getArtist =  <%-JSON.stringify(abc)%>;

  console.log(getArtist);

  function tagArtist() {
    var selectList = document.createElement('select');
    selectList.className = "selectMenu"
    selectList.name = "artist"


    getArtist.forEach(function(artist) {
        var option = document.createElement('option');
        option.text = artist.name;
        option.value = artist._id;
    
        selectList.appendChild(option);
    });

    document.body.appendChild(selectList);
    document.getElementById('songForm').appendChild(selectList);
  }

  function test(){
    var strArtist = ""
    var arrArtist = []
    for(i = 0; i < document.getElementsByClassName("selectMenu").length; i++){
      var e = document.getElementsByClassName("selectMenu")[i];
      strArtist = e.options[e.selectedIndex].text;
      arrArtist.push(strArtist)

    }
    console.log(arrArtist);    
  }

  


</script>




<% include partials/footer %>
