<% include partials/header %>

<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>

<h1 class="text-center">Create a new artist</h1>

<form class="text-center" action="/artist" method="POST">
  <div class="form-group">
    <input type="text" name="name" placeholder="name">
  </div>
  <button>Submit</button>
</form>


<% include partials/footer %>
