<% include partials/header %>

<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>

<h1 class="text-center">Create A New Song</h1>

<form class="text-center" action="/" method="POST">
  <div class="form-group">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="image" placeholder="image">
    <input type="text" name="content" placeholder="Embed Code">
    <input type="text" name="description" placeholder="description">
    <!-- <input type="text" name="category" placeholder="category"> -->
    <select name="category">
      <option value="song">Song</option>
      <option value="video">Video</option>
      <option value="mixtape">Mixtape</option>
      <option value="production">Production</option>
    </select>
  </div>
  <div class="form-group mb-1">
    <input type="text" name="soundcloud" placeholder="SoundCloud Link">
    <input type="text" name="scName" placeholder="SoundCloud User Name">
  </div>
  <div class="form-group mb-1">
    <input type="text" name="instagram" placeholder="Instagram Link">
    <input type="text" name="igName" placeholder="Instagram User Name">
  </div>
  <div class="form-group">
    <input type="text" name="twitter" placeholder="Twitter Link">
    <input type="text" name="twName" placeholder="Twitter User Name">
  </div>
  <!-- <select name="category">
  	<option value="song">Song</option>
  	<option value="video">Video</option>
  	<option value="mixtape">Mixtape</option>
  </select> -->
  <button>Submit</button>
</form>

<a href="/">Go Back!</a>


<!-- <script type="text/javascript">
	$('form').submit(function() {
    $.ajax({
        async: false,
        method: 'POST',
        url: '/',
        data: $( this ).serialize(),
        success: function() {
             window.open("http://www.stackoverflow.com"); //this page will be open in new tab
        }
    });

    $.ajax({
        async: false,
        method: 'POST',
        url: '/songs',
        data: $( this ).serialize(),
        success: function() {
            window.location.href = "http://stackoverflow.com"; //redirect to this page
        }
    });
});
</script> -->

<% include partials/footer %>
